*.pid
*.xml
*.csr
*.crt
*.key
*.pem
www
OZW_Log.txt

### Database and Log Files ###

home-assistant.log
home-assistant_v2.db
*.db-journal

######

### Certain folders ###

auth
config
lib
deps
tts

######

### Files ###

secrets.yaml
known_devices.yaml

######

### Config Files ###

*.conf
plex.conf
html5_push_registrations.conf
ecobee.conf
phue.conf
harmony_media_room.conf

######

pyozw.sqlite
.*
!/.gitignore
